/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  color: #555;
}
.ws-1 {
  word-spacing: 3px;
}

.navbar-icon {
  display: block;
  text-align: center;
}
.navbar-icon img {
  padding: 7px 0;
}
#logo a {
  font-size: 20px;
  padding: 16px 0;
  margin-bottom: 0;
}
#testimonials {
  position: relative;
  top: -60px;
}
@media (min-width: 768px) {
  #logo a {
    font-size: 26px;
    min-width: 254px;
  }
  .honourslist {
    border-left: 5px solid #eee;
  }
}
@media (min-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1240px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px;
  }
}
.un1 {
  display: none;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .w-md-70 {
    width: 70%;
  }
}
.un1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 0;
  opacity: 0.2;
  background-image: url(../images/court-building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  pointer-events: none;
  user-select: none;
}
.un1:after {
  position: absolute;
  content: '';
  top: 50%;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 10%);
}
/* Large devices (desktops, 992px and up)*/

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
